body {
    background-color: #f1f4f7;
}

#spinner {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 10px solid;
    border-radius: 50%;
    border-left-color: #d7f3ee;
    border-top-color: rgb(161, 233, 221);
    border-right-color: #41ccb5;
    border-bottom-color: #0fb499;
    animation: spin 400ms infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg)
    }
}

img {
    max-width: 100%;
    padding: 10% 10% 0;
}

#inner-text {
    font-family: 'Roboto Regular', arial;
    text-align: center;
    color: #0fb499;
    text-shadow: 1px 1px 2px rgb(150, 150, 150);
    
}

#header {
    font-family: 'Roboto Regular', arial;
    text-shadow: 1px 1px 2px rgb(150, 150, 150);
    color: #30ccb2;
}

#message {
    font-family: 'Roboto Regular', arial;
    font-size: 19px;
}

#youtube {
    padding: 15px;
}